.container1{

    width: 18%;
    display: flex;
    flex-direction: column;
}





.box{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}



.container1 *{
    margin-bottom: 5px;
}